
version: "3.9"

services:
  backend:
    build: ./backend
    container_name: hostel_backend
    restart: always
    ports:
      - "5000:5000"
    env_file:
      - ./backend/.env

  frontend:
    build: ./frontend
    container_name: hostel_frontend
    restart: always
    ports:
      - "80:80"
    depends_on:
      - backend